/* IMPORTS  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

/* VARIABLES  */

:root {
    --color-primario: #abebc6;
    --color-btn: #6f7d9b;
    --color-sencundario: #9addd1;
    --color-background: #dbd4d4;
    --color-texto: #c9c9c9;
    --text-default: "Roboto", sans-serif;
    --title-color: white;
    --links-color: rgba(1, 195, 140, 0.638);
}

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--text-default);
}

h1 {
    color: var(--title-color);
}
/* BODY BACKGROUND */

/* background: rgb(25,30,41);
background: linear-gradient(180deg, rgba(25,30,41,1) 0%, rgba(19,45,70,1) 50%, rgba(25,30,41,1) 100%); */

body {
    background: rgb(25, 30, 41);
    background: linear-gradient(
        180deg,
        rgba(25, 30, 41, 1) 0%,
        rgba(19, 45, 70, 1) 50%,
        rgba(25, 30, 41, 1) 100%
    );
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #191e29;
    -webkit-box-shadow: 0px -10px 223px -26px rgba(1, 195, 141, 0.29);
    -moz-box-shadow: 0px -10px 223px -26px rgba(1, 195, 141, 0.29);
    box-shadow: 0px -10px 223px -26px rgba(1, 195, 141, 0.29);
    letter-spacing: 4px;
    z-index: 100;
}
header i {
    color: var(--color-texto);
    visibility: hidden;
    font-size: 30px;
}

header .logo h1 {
    font-family: "Satisfy", cursive;
    color: var(--color-texto);
    cursor: pointer;
}

.sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1vh;
    height: auto;
}

.principal {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
}

.principal .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    width: 50%;
    height: auto;
}




.principal .presentation .body .info p {
    border-left: 8px solid #a4c376;
    padding-left: 2vw;


    
}

.principal .presentation .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--title-color);
}

.principal .recent-project {
    display: flex;
    width: 50%;
    height: 30vh;
}

.principal .recent-project .content {
    text-align: center;
    width: 100%;
    height: 100%;
}
.principal .projects {
    width: 100%;
    height: 100%;
}

.principal .recent-project .content .projects .card {
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 70%;
    padding: 20px;
    color: var(--color-texto);
    background: #090a0a47;
    transition: all 0.5s;
    box-shadow: 0px -10px 223px -40px rgba(1, 195, 141, 0.3);
    box-shadow: 0px -10px 223px -40px rgba(1, 195, 141, 0.3);
}

.principal .recent-project .content .projects .card:hover {
    transform: scale(1.02);
    box-shadow: 0px -10px 223px -40px rgba(1, 195, 141, 0.9);
    box-shadow: 0px -10px 223px -40px rgba(1, 195, 141, 0.9);
}

.recent-project .content .title {
    font-weight: 600;
    color: var(--title-color);
}

.principal .presentation .body {
    font-size: 20px;
    width: 75%;
    text-align: center;
    margin: 0;
    font-weight: 200;
}

.projects {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.projects .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px;
    width: 20%;
    background: #48596347;
    border: 1px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.projects .card:hover {
    transform: scale(1.02);
    border: 1px solid white;
    background: #485963;
}

.projects .card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects .card .cuerpo-card {
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: var(--color-texto);
    flex-direction: column;
    height: 100%;
    margin: 10px;
}

.projects .card .cuerpo-card .techs {
    display: flex;
    flex-direction: column;
}

.projects .card .cuerpo-card p {
    text-align: justify;
}

.sections .redes {
    width: 100%;
}

.all-projects .projects-info {
    padding-left: 2.5vw;
    margin-left: 4vw;
    margin-bottom: 5vh;
    width: 80%;
    text-align: justify;
    border-left: 8px solid #b39a1e;
}

.blogs {
    width: 100%;
    margin-top: 10vh;
}

.blogs .blogs-info {
    display: flex;
    flex-direction: column;
    border-left: 8px solid #b39a1e;
    padding-left: 2.5vw;
    margin-left: 4vw;
    width: 80%;
}

.blogs {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
}

.blogs-all {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
}

.blogs-all .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px;
    width: 40%;
    background: #090a0a47;
    border: 1px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.blogs-all .card:hover {
    transform: scale(1.02);
    border: 1px solid white;
    background: #485963;
}

.blogs-all .card .body-card .img-reference img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.blogs-all .card .body-card {
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: var(--color-texto);
    flex-direction: column;
    height: 100%;
    margin: 10px;
}

.blogs-all .card .body-card .techs {
    display: flex;
    flex-direction: column;
}

.blogs-all .card .body-card p {
    text-align: justify;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 4vh;
    background: #191e29;
    -webkit-box-shadow: 0px -10px 223px -26px rgba(1, 195, 141, 0.29);
    -moz-box-shadow: 0px -10px 223px -26px rgba(1, 195, 141, 0.29);
    box-shadow: 0px -10px 223px -26px rgba(1, 195, 141, 0.29);
    text-align: center;
    font-size: 100%;
    height: auto;
    min-height: 50px;
    width: 100%;
    color: var(--color-texto);
}

footer .derechos {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}

footer .links ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 7vh;
}

footer .links ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: all 1s;
}

footer .links a:hover {
    color: var(--links-color);
}

@media screen and (max-width: 1000px) {
    .sections .projects {
        flex-direction: column;
        align-items: center;
    }

    .sections .projects .card {
        width: 45%;
    }

    .sections .principal {
        align-items: center;
        flex-direction: column;
    }

    .sections .principal .presentation {
        width: 100%;
    }

    .sections .principal .recent-project {
        width: 100%;
    }

    .principal .recent-project .content .projects .card {
        width: 70%;
    }
}



@media screen and (max-width: 600px) {
    header {
        top: 0;
    }

    header i {
        visibility: visible;
    }

    .sections .projects .card {
        width: 90%;
    }

    .sections .blogs .card {
        width: 90%;
    }

    .all-projects .projects-info {
        margin: 1vh;
        width: 90%;
    }


    .blogs .blogs-info {
        margin: 1vh;
        width: 90%;
    }

    header .nav ul {
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        gap: 100px;
        right: 0;
        top: 0;
        background: rgb(25, 30, 41);
        background: linear-gradient(
            180deg,
            rgba(25, 30, 41, 1) 0%,
            rgba(19, 45, 70, 1) 50%,
            rgba(25, 30, 41, 1) 100%
        );
        transform: translateX(100%);
    }

    header .nav ul.active {
        transform: translateX(0%);
    }

    .blogs-all .card .body-card .img-reference img {
        height: 120px;

    }
    .community-info img {
        width: 50%;
        height: 500px;
        border-radius: 20px;

        content: url(../images/community-cel.gif);
    }

    .community-info button {
        width: 50%;
    }

    .community {
        height: 100%;
    }

    .projects .redirect {
        overflow: hidden;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .derechos {
        margin-bottom: 4vh;
    }

    footer .links {
        justify-content: center;
    }
}

@media screen and (min-width: 500px) {
    .container {
        justify-content: center;
    }
}


/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #D0783B; } /* string  - green */
pre .kwd, code .kwd { color: #AA759F; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #90A959; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #151515;
	border-radius: 8px;
    width: auto;
}

.pretty-code {
    display: flex;
    width: 100%;
    justify-content: center;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}