<% content=` 
        <h3>Publicar blogs en ivansanmartin.dev/blogs</h3>



        <h4 class="mt-5">Escribir blog</h4>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Texto del blog aquí" id="floatingTextarea2" style="height: 50vh"></textarea>
            <label for="floatingTextarea2">Texto</label>
        </div>
    ` %>

<%- include("../../partials/admin/base-panel.ejs") %>
