<% content = `
    <div class="container d-flex flex-column h-auto text-white">
        <div class="title mt-5 d-flex justify-content-center text-break text-center">

            <p class="fw-bold fs-1">Primeros pasos con Docker junto a Binary Decimal API</p>
            
        </div>

        <div class="blog mt-5 d-flex flex-column flex-grow-1 text-white text-break">
            <div class="welcome-blog">
                <p>Dentro de este blog/guía, comparto mi progreso con Docker. Utilizo este espacio para dar a conocer y poner en práctica mis conocimientos en el mundo de los contenedores. A través de este blog, también podrás aprender y sumergirte poco a poco en este fascinante mundo junto conmigo.</p>

                <p>En este caso pondremos en práctica estos nuevos conocimientos trabajando junto a <a href="">Binary Decimal API</a>; claramente, ustedes pueden usar su propia API o aplicación web. Cabe decir que esta API REST está construida con NodeJS y Express.js y cada proceso puede variar dependiendo del stack tecnológico que estén utilizando...</p>
            </div>

            <div class="blog-index mt-5">
                <p class="fs-4">Índice</p>
                <ul>
                    <li><a href="">¿Qué es Docker?</a></li>
                </ul>
            </div>

            <div class="content mt-5 d-flex flex-column">

                <p class="fs-3 fw-bold">¿Qué es Docker?</p>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequatur illum beatae numquam sunt aliquam ipsa cum vitae? Commodi dolore excepturi consectetur a quas cum optio necessitatibus adipisci! Iure, laboriosam!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequatur illum beatae numquam sunt aliquam ipsa cum vitae? Commodi dolore excepturi consectetur a quas cum optio necessitatibus adipisci! Iure, laboriosam!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequatur illum beatae numquam sunt aliquam ipsa cum vitae? Commodi dolore excepturi consectetur a quas cum optio necessitatibus adipisci! Iure, laboriosam!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequatur illum beatae numquam sunt aliquam ipsa cum vitae? Commodi dolore excepturi consectetur a quas cum optio necessitatibus adipisci! Iure, laboriosam!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequatur illum beatae numquam sunt aliquam ipsa cum vitae? Commodi dolore excepturi consectetur a quas cum optio necessitatibus adipisci! Iure, laboriosam!</p>
                
            </div>
        </div>        

        <div class="date text-white mb-5">

            <p class="text-end text-secondary fst-italic fw-semibold">Blog realizado por Iván San Martín el dd-mm-yy </p>
            
        </div>
    </div>

` %> <%- include("../partials/base.ejs") %>
